body{
    font-family: "Century Gothic";
}
.topnav {
    background-color: #7D98A1;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #1C2321;
    text-align: center;
    padding: 1.5% 1.5%;
    text-decoration: none;
    font-size: 1rem;
}

.topnav a:hover {
    background-color: #AAAAAA;
    color: black;
}

.topnav a.active {
    background-color: #E8E8E8;
    color: black;
}

h3{
    color: #278ed5;
}

h2{
    color: teal;
}

h1{
    color: #028476;
}

.html-declaration{
    height: 15rem;
    width: 40rem;
}

.css-declaration{
    height: 12rem;
    width: 40rem;
}

.dropbtn {
    background-color: #028476;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #E8E8E8;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    color: #278ed5;
}

.dropdown-content a:hover {
    background-color: #AAAAAA
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #AAAAAA;
}